<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Library Database</title>
</head>
<body>

    {{{body}}}

</body>
{{!-- Copyright tag --}}
<div class="container">
    <p class="text-center">Copyright Maya D'Souza , Nathan Huffman &copy; 
        <script>
            var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
        </script>
    </p>
</div>
</html>