<!-- index.hbs -->
<head>
    <title>Library Items</title>
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>People's Aristocratic Library</h1>
    <a class="top-page-links" href="/">Homepage</a>
    <a class="top-page-links" href="/library_items">Library Items</a>
    <a class="top-page-links" href="/patrons">Patrons</a>
    <a class="top-page-links" href="/holds">Holds</a>
    <a class="top-page-links" href="/item_types">Item Types</a>
    <br><br><br>
</body>